__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pythonlibs/
venv/
ENV/
env/
.venv

instance/
.webassets-cache

.env
.flaskenv

*.log

static/uploads/*
!static/uploads/.gitkeep
static/ads/*
!static/ads/.gitkeep

.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~
